#image{
    max-width:100%;
    height:auto;
    margin:10px auto;
    display:block;
}
body {
       background: linear-gradient(45deg, #ff948f, #ffce9d);
      margin: 20%;
      
    margin-top: 10px;

        }

#title {
            text-align: center;
            text-shadow: 5px 5px 10px white;
            font-size: 7vh;
        }

.img-div {
            display: inline-block;
            width: 100%;
        }
 
#img-caption {
            font-size: 17px;
            font-family: Gill Sans;
            color: black;
        }
 div#tribute-info {
            background-color: rgb(46, 139, 87, 0.25);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 50px;
            }
 
h1.title-APJ {
            font-size: 35px;
            color: white;
            text-align: center;
            text-shadow: 5px 5px 10px black;
        }
 
        /* Styling the link provided at the end */
#tribute-link {
            text-decoration: none;
            color: black;
        }